# Ignore Visual Studio temporary files, build results, and
# build directories
.gitignore
.cr/
.vs/
*.vsidx
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.cr/personal/FavoritesList/List.xml
/.vs/ProjectEvaluation/sailorerp.metadata.v7.bin
/.vs/ProjectEvaluation/sailorerp.projects.v7.bin
/.vs/SailorERP/FileContentIndex/0487fb5d-2d39-4ed0-bcd6-a89bda2b2c3a.vsidx
/.vs/SailorERP/FileContentIndex/1afa7028-4ae3-4614-accb-1e83b3bdb577.vsidx
/.vs/SailorERP/FileContentIndex/47308bad-2af7-41d2-aeef-c36922d4ad51.vsidx
/.vs/SailorERP/FileContentIndex/55a540a5-db58-4533-81bc-b4ba3ae9fa90.vsidx
/.vs/SailorERP/FileContentIndex/60d22fba-a5b2-4352-aa95-233423f4de48.vsidx
/.vs/SailorERP/FileContentIndex/641c1126-3808-4cec-a714-3b2ffd072e59.vsidx
/.vs/SailorERP/FileContentIndex/a21ab174-d950-43f6-abd5-6d31d6ec5a5f.vsidx
/.vs/SailorERP/FileContentIndex/d98e4402-4b49-463b-8679-731acfab3882.vsidx
/.vs/SailorERP/FileContentIndex/eb9eaf6a-cbf3-4e94-9727-24f65b94cdce.vsidx
/.vs/SailorERP/FileContentIndex/f2bfb6bf-e250-4f3f-8960-a361c2b49ff3.vsidx
/.vs/SailorERP/v17/.suo
/.vs/Sailor_New/v17/.wsuo
/.vs/VSWorkspaceState.json
/Sailor.Infrastructure/obj/Debug/net8.0/Sailor.Infrastructure.AssemblyInfo.cs
/Sailor.Infrastructure/obj/Debug/net8.0/Sailor.Infrastructure.AssemblyInfoInputs.cache
/Sailor.Infrastructure/obj/Debug/net8.0/Sailor.Infrastructure.assets.cache
/Sailor.Infrastructure/obj/Debug/net8.0/Sailor.Infrastructure.csproj.AssemblyReference.cache
/Sailor.Infrastructure/obj/Debug/net8.0/Sailor.Infrastructure.csproj.CopyComplete
/Sailor.Infrastructure/obj/Debug/net8.0/Sailor.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Sailor.Infrastructure/obj/Debug/net8.0/Sailor.Infrastructure.sourcelink.json
/Sailor.Infrastructure/obj/project.assets.json
/Sailor.Infrastructure/obj/project.nuget.cache
/Sailor.Infrastructure/obj/Sailor.Infrastructure.csproj.nuget.dgspec.json
/Sailor.Infrastructure/obj/Sailor.Infrastructure.csproj.nuget.g.props
/Sailor.Application/obj/Debug/net8.0/Sailor.Application.AssemblyInfo.cs
/Sailor.Application/obj/Debug/net8.0/Sailor.Application.AssemblyInfoInputs.cache
/Sailor.Application/obj/Debug/net8.0/Sailor.Application.assets.cache
/Sailor.Application/obj/Debug/net8.0/Sailor.Application.csproj.AssemblyReference.cache
/Sailor.Application/obj/Debug/net8.0/Sailor.Application.csproj.CopyComplete
/Sailor.Application/obj/Debug/net8.0/Sailor.Application.GeneratedMSBuildEditorConfig.editorconfig
/Sailor.Application/obj/Debug/net8.0/Sailor.Application.sourcelink.json
/Sailor.Application/obj/project.assets.json
/Sailor.Application/obj/project.nuget.cache
/Sailor.Application/obj/Sailor.Application.csproj.nuget.dgspec.json
/Sailor.Application/obj/Sailor.Application.csproj.nuget.g.props
/SailorAPP/bin/Debug/net8.0/de/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPI/obj/Debug/net8.0/SailorAPI.AssemblyInfo.cs
/SailorAPI/obj/Debug/net8.0/SailorAPI.AssemblyInfoInputs.cache
/SailorAPI/obj/Debug/net8.0/SailorAPI.assets.cache
/SailorAPI/obj/Debug/net8.0/SailorAPI.csproj.AssemblyReference.cache
/SailorAPI/obj/Debug/net8.0/SailorAPI.csproj.CopyComplete
/SailorAPI/obj/Debug/net8.0/SailorAPI.GeneratedMSBuildEditorConfig.editorconfig
/SailorAPI/obj/Debug/net8.0/SailorAPI.sourcelink.json
/SailorAPI/obj/project.assets.json
/SailorAPI/obj/project.nuget.cache
/SailorAPI/obj/SailorAPI.csproj.nuget.dgspec.json
/SailorAPI/obj/SailorAPI.csproj.nuget.g.props
/SailorAPP/bin/Debug/net8.0/dotnet-aspnet-codegenerator-design.dll
/SailorAPP/bin/Debug/net8.0/Humanizer.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Authorization.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Components.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Components.Forms.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Components.QuickGrid.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Components.QuickGrid.EntityFrameworkAdapter.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Components.Web.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Metadata.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.AspNetCore.Razor.Language.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Build.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Build.Framework.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Features.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.Elfie.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.Features.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.Razor.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.Scripting.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.DiaSymReader.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.DotNet.Scaffolding.Shared.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Extensions.Caching.Memory.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.JSInterop.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.NET.StringTools.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/SailorAPP/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/SailorAPP/bin/Debug/net8.0/Mono.TextTemplating.dll
/SailorAPP/bin/Debug/net8.0/Newtonsoft.Json.dll
/SailorAPP/bin/Debug/net8.0/NuGet.Common.dll
/SailorAPP/bin/Debug/net8.0/NuGet.Configuration.dll
/SailorAPP/bin/Debug/net8.0/NuGet.DependencyResolver.Core.dll
/SailorAPP/bin/Debug/net8.0/NuGet.Frameworks.dll
/SailorAPP/bin/Debug/net8.0/NuGet.LibraryModel.dll
/SailorAPP/bin/Debug/net8.0/NuGet.Packaging.dll
/SailorAPP/bin/Debug/net8.0/NuGet.ProjectModel.dll
/SailorAPP/bin/Debug/net8.0/NuGet.Protocol.dll
/SailorAPP/bin/Debug/net8.0/NuGet.Versioning.dll
/SailorAPP/bin/Debug/net8.0/System.CodeDom.dll
/SailorAPP/bin/Debug/net8.0/System.Composition.AttributedModel.dll
/SailorAPP/bin/Debug/net8.0/System.Composition.Convention.dll
/SailorAPP/bin/Debug/net8.0/System.Composition.Hosting.dll
/SailorAPP/bin/Debug/net8.0/System.Composition.Runtime.dll
/SailorAPP/bin/Debug/net8.0/System.Composition.TypedParts.dll
/SailorAPP/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/SailorAPP/bin/Debug/net8.0/System.Drawing.Common.dll
/SailorAPP/bin/Debug/net8.0/System.Formats.Asn1.dll
/SailorAPP/bin/Debug/net8.0/System.Reflection.MetadataLoadContext.dll
/SailorAPP/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/SailorAPP/bin/Debug/net8.0/System.Security.Permissions.dll
/SailorAPP/bin/Debug/net8.0/System.Windows.Extensions.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/obj/Debug/net8.0/SailorAPP.AssemblyInfo.cs
/SailorAPP/obj/Debug/net8.0/SailorAPP.AssemblyInfoInputs.cache
/SailorAPP/obj/Debug/net8.0/SailorAPP.assets.cache
/SailorAPP/obj/Debug/net8.0/SailorAPP.csproj.AssemblyReference.cache
/SailorAPP/obj/Debug/net8.0/SailorAPP.csproj.BuildWithSkipAnalyzers
/SailorAPP/obj/Debug/net8.0/SailorAPP.csproj.CopyComplete
/SailorAPP/obj/Debug/net8.0/scopedcss/Shared/_Layout.cshtml.rz.scp.css
/SailorAPP/bin/Debug/net8.0/zh-Hans/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorApp.Application.Domain/obj/Debug/net8.0/SailorApp.Domain.AssemblyInfo.cs
/SailorApp.Application.Domain/obj/Debug/net8.0/SailorApp.Domain.AssemblyInfoInputs.cache
/SailorApp.Application.Domain/obj/Debug/net8.0/SailorApp.Domain.assets.cache
/SailorApp.Application.Domain/obj/Debug/net8.0/SailorApp.Domain.GeneratedMSBuildEditorConfig.editorconfig
/SailorApp.Application.Domain/obj/Debug/net8.0/SailorApp.Domain.sourcelink.json
/SailorApp.Application.Domain/obj/project.assets.json
/SailorApp.Application.Domain/obj/project.nuget.cache
/SailorApp.Application.Domain/obj/SailorApp.Domain.csproj.nuget.dgspec.json
/SailorApp.Application.Domain/obj/SailorApp.Domain.csproj.nuget.g.props
/SailorAPP/bin/Debug/net8.0/sr-Latn/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/sv/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/th-TH/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/af/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/ar/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/az/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/bg/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/bn-BD/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/da/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/el/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/fa/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
/SailorAPP/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
/SailorAPP/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Security.Cryptography.ProtectedData.dll
/SailorAPP/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Windows.Extensions.dll
/SailorAPP/obj/Debug/net8.0/SailorAPP.GeneratedMSBuildEditorConfig.editorconfig
/SailorAPP/obj/Debug/net8.0/SailorAPP.sourcelink.json
/SailorAPP/obj/project.assets.json
/SailorAPP/obj/project.nuget.cache
/SailorAPP/obj/SailorAPP.csproj.nuget.dgspec.json
/SailorAPP/obj/SailorAPP.csproj.nuget.g.props
/SailorAPP/obj/SailorAPP.csproj.nuget.g.targets
/SailorAPP/bin/Debug/net8.0/pl/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/SailorAPP/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
/SailorAPP/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/SailorAPP/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/SailorAPP/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/SailorAPP/bin/Debug/net8.0/ms-MY/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/mt/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/nb/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/nb-NO/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/nl/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/pt/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/ro/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/sk/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/sl/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/sr/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/uk/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/uz-Cyrl-UZ/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/uz-Latn-UZ/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/vi/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/zh-CN/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/fi-FI/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/fr-BE/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/he/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/hr/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/hu/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/hy/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/id/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/is/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/ko-KR/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/ku/Humanizer.resources.dll
/SailorAPP/bin/Debug/net8.0/lv/Humanizer.resources.dll
# Ignore object files
obj/

# Ignore bin directories
bin/

# Ignore build artifacts
*.dll
*.exe
*.log

# Ignore NuGet packages
*.nupkg
# Ignore package restore files
packages/
project.lock.json

# Ignore user-specific files
*.user
*.suo
*.rsuser
.vscode/
*.code-workspace

# Ignore Rider IDE files
.idea/

# Ignore compiled files
*.out
*.o
*.a

# Ignore macOS files
.DS_Store
/SailorAngularApp
/SailorAppAngular/node_modules
