     <!-- sidebar menu -->
     <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3><strong>SAILOR ERP</strong> </h3>
           
          <ul class="nav side-menu">
            

            <li><a><i class="fa fa-home"></i> Business Plan <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/businessPlan/businessPalnAdd" routerLinkActive="active" ariaCurrentWhenActive="page">Add/Submission</a></li>
                <li><a routerLink="/businessPlan/businessPalnApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Approval</a></li>
                
              </ul>
            </li>

            <li><a><i class="fa fa-home"></i> Range Paln <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/rangePlan/rangePalnAdd" routerLinkActive="active" ariaCurrentWhenActive="page">Add/Submission</a></li>
                <li><a routerLink="/rangePlan/rangePalnApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Approval</a></li>
               
              </ul>
            </li>

            <li><a><i class="fa fa-home"></i> Planning & Allocation <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/planningAndAllocation/styleBreakdown" routerLinkActive="active" ariaCurrentWhenActive="page">Style Breakdown</a></li>
                <li><a routerLink="/planningAndAllocation/styleBreakApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Style Break Approval</a></li>
                <li><a routerLink="/planningAndAllocation/designerDistribution" routerLinkActive="active" ariaCurrentWhenActive="page">Designer Distributionj</a></li>
                
              </ul>
            </li>

            <li><a><i class="fa fa-home"></i> Design Management <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/deesignManagement/sampleOrder" routerLinkActive="active" ariaCurrentWhenActive="page">Sample Order</a></li>
                <li><a routerLink="/deesignManagement/precosting" routerLinkActive="active" ariaCurrentWhenActive="page">Pre Costing</a></li>
                <li><a routerLink="/deesignManagement/precostingApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Pre Costing Approval</a></li>
                <li><a routerLink="/deesignManagement/designReview" routerLinkActive="active" ariaCurrentWhenActive="page">Design Review</a></li>
                <li><a routerLink="/deesignManagement/designReviewApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Design Review Approval</a></li>
                <li><a routerLink="/deesignManagement/techPack" routerLinkActive="active" ariaCurrentWhenActive="page">Tech Pack</a></li>
                <li><a routerLink="/deesignManagement/techPackapproval" routerLinkActive="active" ariaCurrentWhenActive="page">Tech Pack Approval</a></li>
                <li><a routerLink="/deesignManagement/fabBookReq" routerLinkActive="active" ariaCurrentWhenActive="page">Fabric Booking Req</a></li>
                <li><a routerLink="/deesignManagement/accBookReq" routerLinkActive="active" ariaCurrentWhenActive="page">Accessories Booking Req</a></li>
                <li><a routerLink="/deesignManagement/openPRApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Open PR Approval</a></li>
              </ul>
            </li>

            <li><a><i class="fa fa-home"></i> Merchandising Management <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/merchandisingMgt/techpackArk" routerLinkActive="active" ariaCurrentWhenActive="page">Tech Pack Ack</a></li>
                <li><a routerLink="/merchandisingMgt/preCostingReview" routerLinkActive="active" ariaCurrentWhenActive="page">Pre Costing Review</a></li>
                <li><a routerLink="/merchandisingMgt/fabricAlcReq" routerLinkActive="active" ariaCurrentWhenActive="page">Fabric Alc Req</a></li>
                <li><a routerLink="/merchandisingMgt/fabricPurchaseReq" routerLinkActive="active" ariaCurrentWhenActive="page">Fabric Purchase Req</a></li>
                <li><a routerLink="/merchandisingMgt/accPurchaseReq" routerLinkActive="active" ariaCurrentWhenActive="page">Accessories Purchase Req</a></li>
                <li><a routerLink="/merchandisingMgt/prApproval" routerLinkActive="active" ariaCurrentWhenActive="page">PR Approval</a></li>
                <li><a routerLink="/merchandisingMgt/serviceWorkOrder" routerLinkActive="active" ariaCurrentWhenActive="page">Service Work Order</a></li>
                <li><a routerLink="/merchandisingMgt/serviceWorkOrderApprove" routerLinkActive="active" ariaCurrentWhenActive="page">Service Work Order Approve</a></li>
                <li><a routerLink="/merchandisingMgt/fabricAlcReqApprove" routerLinkActive="active" ariaCurrentWhenActive="page">Fabric Alc Req Approve</a></li>
                
              </ul>
            </li>

            <li><a><i class="fa fa-home"></i> SCM <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/scm/ackPR" routerLinkActive="active" ariaCurrentWhenActive="page">Acknowledge PR</a></li>
                <li><a routerLink="/scm/fabric" routerLinkActive="active" ariaCurrentWhenActive="page">Fabric PO</a></li>
                <li><a routerLink="/scm/accessories" routerLinkActive="active" ariaCurrentWhenActive="page">Accessories Po</a></li>
                <li><a routerLink="/scm/poApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Po Approval</a></li>
                <li><a routerLink="/scm/openPo" routerLinkActive="active" ariaCurrentWhenActive="page">Open Po</a></li>
                <li><a routerLink="/scm/openPoApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Open Po Approval</a></li>
                <li><a routerLink="/scm/billSubmission" routerLinkActive="active" ariaCurrentWhenActive="page">Bill Submission</a></li>
                <li><a routerLink="/scm/billApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Bill Approval</a></li>
              </ul>
            </li>

            <li><a><i class="fa fa-home"></i> MCD <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/mcd/itemReceiveAndInspection" routerLinkActive="active" ariaCurrentWhenActive="page">Item Receive & Inspection</a></li>
                <li><a routerLink="/mcd/goodsReceiveNote" routerLinkActive="active" ariaCurrentWhenActive="page">Goods Receive Note</a></li>
                <li><a routerLink="/mcd/purchaseReturn" routerLinkActive="active" ariaCurrentWhenActive="page">Purchase Return</a></li>
                <li><a routerLink="/mcd/purchaseReturnApprove" routerLinkActive="active" ariaCurrentWhenActive="page">Purchase return Approve</a></li>
                <li><a routerLink="/mcd/fabricReqIssue" routerLinkActive="active" ariaCurrentWhenActive="page">Fabric Req Issue</a></li>
                <li><a routerLink="/mcd/fabricReqIssueApproval" routerLinkActive="active" ariaCurrentWhenActive="page">Fabric Req Issue Approve</a></li>
                <li><a routerLink="/mcd/accReqIssue" routerLinkActive="active" ariaCurrentWhenActive="page">Accessories Req Issue</a></li>
                <li><a routerLink="/mcd/accReqIssueApprove" routerLinkActive="active" ariaCurrentWhenActive="page">Accessories Req Issue Approval</a></li>
                <li><a routerLink="/mcd/floorReturnAck" routerLinkActive="active" ariaCurrentWhenActive="page">Floor return Ack</a></li>
                
              </ul>
            </li>

          </ul>
        </div>
       

      </div>
      <!-- /sidebar menu -->

    