@model SailorAPP.Areas.SCM.Model.CommonLandingGrid



@{
    ViewBag.Title = "Fabric Po List";
    Layout = "~/Shared/_Layout.cshtml";
    var myScript = ViewBag.script;
}
<script>
    $.getScript("@myScript", function (data, textStatus, jqxhr) {

    });



</script>
<div class="list">
    @await Html.PartialAsync("~/Shared/_CommonDatatable.cshtml", Model)
</div>