<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<h1 id="itemLabel">PO List</h1>

<button style="margin:50px; padding:10px" type="button" class="btn btn-primary" (click)="openPopUp()">Add PO</button>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="itemModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="mb-3 row">
          <label class="col-sm-6 col-form-label text-start"> PO No</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="itemId" readonly="readonly">
          </div>
        </div>
        <div class="md-3 row">
          <label class="col-sm-6 col-form-label text-start">PR No</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="itemName" />
          </div>
        </div>
        <div class="md-3 row">
          <label class="col-sm-6 col-form-label text-start">PO Date</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="Price" />
          </div>
        </div>
        <div class="md-3 row">
          <label class="col-sm-6 col-form-label text-start">Supplier Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="Name" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopUp()">Close</button>
        <button type="button" class="btn btn-primary" id="btnSave" *ngIf="isShowSaveButton" (click)="createPO()">Save</button>
        <button type="button" class="btn btn-primary" id="btnUpdate" *ngIf="isShowUpdateBtn" (click)="updatePO()">Update</button>
      </div>
    </div>
  </div>
</div>

<table *ngIf="poData" class="table hover striped">
  <thead>
    <tr>
      <th>Po No</th>
      <th>PR No</th>
      <th>PO Date</th>
      <th>Supplier Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of poData">
      <td>{{item.po_no}}</td>
      <td>{{ item.pr_no }}</td>
      <td>{{ item.po_date }}</td>
      <td>{{ item.supplier_name }}</td>
      <td>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#itemModal" (click)="getPObyId(item.po_no);openPopupUpdate()">Update</button>
        <button type="button" class="btn btn-danger" (click)=deletePO(item.po_no)>Delete</button>
      </td>
    </tr>
  </tbody>
</table>

